.grid-about {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;

  padding: 10px;
}

.about-item1 {
  margin-left: 50px;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.about-item2 {
  margin-right: 50px;
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
  margin-top: 50px;
}

.learn-btn{
    background-color: #17a2b8;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    width: 20%;
    cursor: pointer;
    margin-top: 20px;
}
