body {
  background-color: rgb(4, 4, 35);
}
table {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.input-search {
  width: 100%;
  padding: 20px;
  margin: auto;
}

.user-input {
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  margin-left: 300px;
  font-size: 20px;
  text-transform: capitalize;
}

table,
th,
td {
  border: 2px solid red;
  border-collapse: collapse;
  background-color: lightgray;
  font-size: 20px;
}

.search-btn {
  margin: 10px;
  padding: 8px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 10%;
  border-radius: 10px;
  cursor: pointer;
}

.details-btn {
  background-color: green;
  border: 2px solid;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout {
  float: right;
  background-color: red;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
