body{
        background-color: darkslateblue;
}
.container{
        background-color: white;
        text-align: center;  
        color: black;
        font-weight: bold;
        margin: auto;   
        width: 50%;
        height: 100%;
        border: 5px solid orangered;
        box-sizing: border-box;
        padding: 50px;
}
.btn{
        background-color: blue;
        color: white;
        border-width: 5px white;
        padding: 10px;
        
}
#btn1{
        visibility: hidden;
}