.contact-header {
  text-align: center;
  padding-top: 50px;
}

.grid-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

  padding: 10px;
}

.contact-item1 {
  padding: 0px 100px;
}

.contact-item2 {
  margin-top: 50px;
  margin-left: -50px;
  width: 70%;
}

.contact-item3 {
  
  margin-top: 50px ;
  margin-left: -50px;
  width: 70%;
}

.input-icons i {
    position: absolute;
    
}
  
.icon {
    padding: 25px;
    min-width: 10px;
}
  
.input-field, textarea {
    width: 100%;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

textarea{
    height: 170px;
}

button{
    float: right;
    margin-top: 20px;
    
    width: 30%;
    background-color: #157ccb;
    border-color: #007bff;
    color: white;
    width: max-content;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}