.services-container {
  text-align: center;
  font-weight: bold;
  padding: 50px;
}

.services-subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 100px;
  padding: 0 300px;
  margin-top: -50px;
}

.grid-services {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

  padding: 10px;
}

.service-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.service-item2 {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  margin-right: 50px;
}

.service-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 100px;
  
}

.item1-service {
  box-shadow: 0 0 20px 0 rgb(164 163 163 / 15%);
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: bold;
}
