body{
    background-color: #EEDC82;
}

div{
	background-color: #48534A;
	margin: 50px;
	width: 350px;
	height: 550px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
	padding: 10px;
}

input{
	background-color: black;
	width: 330px;
	height: 100px;

	margin: 0 auto;	
	font-size: xx-large;
	color: white;
	text-align: right ;

}
table{
	
	margin: 0 auto;
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
    
	
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: xx-large;

}


button{
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
